body {
  background-color: #FFFFFF; }

.header {
  background-color: #F5F5F5;
  height: 48px;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #e1e1e1; }

.form-groupOne {
  display: inline-block;
  margin-top: 10px; }
  .form-groupOne #usr {
    height: 28px;
    padding-left: 5px;
    width: 355px;
    font-size: 13px; }

img.gitCharacter {
  height: 28px;
  display: inline-block;
  vertical-align: top;
  margin-left: 213px;
  margin-right: 5px;
  margin-top: 10px; }

ul.threeLists {
  display: inline-block;
  margin-top: 14px;
  vertical-align: top;
  padding-left: 5px; }
  ul.threeLists li {
    display: inline-block;
    padding-left: 10px; }
    ul.threeLists li a {
      color: black;
      text-decoration: none;
      font-size: 13px;
      font-weight: bold; }
      ul.threeLists li a:hover {
        color: #4078C0; }

img.firstDownTri, .secondDownTri {
  height: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 15px; }

img.smallPhoto {
  height: 20px;
  border-radius: 3px; }

ul.fourList {
  margin-left: 120px;
  margin-top: 12px; }
  ul.fourList li {
    display: inline-block; }

.row.contentRow {
  margin-top: 20px; }

#edit {
  float: right;
  margin-right: 196px; }

img.myProfPic {
  margin-left: 215px;
  border-radius: 5px;
  height: 230px; }

p.name, .login, .bio {
  text-align: left;
  margin-left: 214px;
  margin-bottom: 0; }

.name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px; }

.login {
  font-size: 22px;
  color: #66666A;
  margin-top: -9px; }

.bio {
  color: #66666A;
  margin-top: 10px; }

a.email, .joined {
  margin-left: 214px; }

a.email {
  margin-bottom: 10px; }
  a.email:hover {
    color: #4078C0; }

hr.bioLine, .emailLine, .bottomLine {
  width: 243px;
  margin-left: 214px;
  margin-bottom: 12px;
  margin-top: 12px; }

img.clock, .mail {
  margin-right: 10px; }

ul.numberCol {
  margin-left: 145px;
  margin-top: 12px;
  margin-bottom: -12px; }
  ul.numberCol li {
    display: inline-block;
    padding-left: 60px;
    font-weight: bold; }
  ul.numberCol a {
    text-decoration: none;
    font-size: 30px;
    text-align: center; }
    ul.numberCol a:hover {
      color: #4078C0; }

ul.wordCol {
  margin-left: 152px;
  margin-top: 0; }
  ul.wordCol li {
    display: inline-block;
    padding-left: 37px; }
  ul.wordCol a {
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    color: #66666A; }
    ul.wordCol a:hover {
      color: #66666A; }

.form-groupTwo {
  width: 250px;
  margin-top: 20px;
  display: inline-block; }

ul.searchList {
  display: inline-block; }
  ul.searchList li {
    display: inline-block; }

#search {
  display: inline; }
