$accent-color:#F5F5F5;
$font-blue:#4078C0;
$font-box:#DBDBDB;
$accent-font:#66666A;
$tab-color:#666666;


body {
	background-color:#FFFFFF;
}

.header {
	background-color:#F5F5F5;
	height:48px;
	background-size:cover;
	position: relative;
	border-bottom:1px solid darken($accent-color,8);
}

.form-groupOne{
		display:inline-block;
		margin-top:10px;

		#usr {
			height:28px;
			padding-left:5px;
			width:355px;
			font-size: 13px;
		}
}

img.gitCharacter {
		height:28px;
		display:inline-block;
		vertical-align: top;
		margin-left:213px;
		margin-right: 5px;
		margin-top:10px;
}

ul.threeLists {
	display:inline-block;
	margin-top:14px;
	vertical-align:top;
	padding-left:5px;

	li {
		display:inline-block;
		padding-left:10px;

		a {
			color:black;
			text-decoration: none;
			font-size: 13px;
			font-weight: bold;

			&:hover {
			color: $font-blue;
			}
		}	
	}

}			

img.firstDownTri, .secondDownTri {
	height:10px;
	margin-top:10px;
	margin-bottom:2px;
	margin-right:15px;

}

img.smallPhoto {
	height:20px;
	border-radius:3px;
}

ul.fourList {
	margin-left:120px;
	margin-top:12px;
	
	
	li {
	display:inline-block;
	}	
}

.row.contentRow {
	margin-top:20px;
}

#edit {
	float:right;
	height:27px;
	font-size:13px;
	font-weight:bold;
	background-color:$accent-color;
	margin-top:5px;

	&:hover {
		background-color:darken($accent-color,8);
	}

	img {
		padding-bottom:7px;
	}
}

img.myProfPic {
	margin-left:215px;
	border-radius:5px;
	height:230px;
}

p.name,.login,.bio {
	text-align:left;
	margin-left:214px;
	margin-bottom:0;
}

.name {
	font-size:25px;
	font-weight:bold;
	margin-top:10px;
}

.login {
	font-size:22px;
	color: $accent-font;
	margin-top:-9px;
}

.bio {
	color:$accent-font;
	margin-top:10px;
}

a.email,.joined {
	margin-left:214px;
}

a.email {
	margin-bottom:10px;

	&:hover {
		color:$font-blue;
	}	
}

hr.bioLine, .emailLine, .bottomLine {
	width:243px;
	margin-left:214px;
	margin-bottom:12px;
	margin-top:12px;
}

img.clock, .mail {
	margin-right:10px;

}

ul.numberCol {
	margin-left:145px;
	margin-top:12px;
	margin-bottom:-12px;
	
	li {
	display:inline-block;
	padding-left:60px;
	font-weight:bold;

	}	

	a {
		text-decoration: none;
		font-size: 30px;
		text-align: center;
		outline: 0;

		&:hover {
		color:$font-blue;
		}
	}
}

ul.wordCol {
	margin-left:152px;
	margin-top:0;
	
	li {
	display:inline-block;
	padding-left:37px;
	}	

	a {
		text-decoration: none;
		font-size: 11px;
		text-align: center;
		color:$accent-font;
		outline: 0;

		&:hover {
		color:$accent-font;
		}
	}
}
.form-groupTwo {
	width:250px;
	margin-top:14px;
	display:inline-block;
}

ul.searchList {
	display:inline-block;
	vertical-align:2px;
	padding-left:18px;

		li {
			display:inline-block;
			padding:3px;
			color:$font-blue;

			&:hover {
				text-decoration: underline;
				cursor:pointer;
			}
		}
}

#search {
	display:inline;
	width:268px;
}

#searchBtn {
	font-weight:bold;
	background-color:$accent-color;
	font-size:12px;
	height:34px;
	margin-right:12px;
	&:hover {
		background-color:darken($accent-color,8);
	}
}

hr.searchLine {
	width:710px;
	margin-left:0;
	margin-top:3px;
}

ul.nav {
	width:708px;
	a {
		color:$tab-color;
		outline: 0;

		&:hover {
			color:black;
			background-color:white;
			border:none;
		}
	}

	img {
		padding-right:5px;
	}
}

#newBtn {
	font-size:12px;
	font-weight:bold;

	img {
		margin-right: 4px;
	}
}

.repoLeft {
	padding-left:0;
}

.repoName {
	font-size:20px;
	font-weight:bold;
	

	&:hover {
		color:$font-blue;
		text-decoration: bold;
	}
}

.updated {
	font-size:13px;
	margin-top:5px;
	color:$accent-font;
}

hr.repoBorder {
	width:710px;
}

ul.repoList {
	display:inline-block;
	padding-left:0;
	margin-top:10px;
	margin-left:-57px;


	li {
		display: inline-block;
		padding-left:12px;
		font-size: 12px;
		font-weight: bold;
		color:$accent-font;		
	}

		a {
			color:$accent-font;
			text-align:right;

			&:hover {
				color:$font-blue;
				text-decoration: none;
			}
		}

			img {
				padding-right:2px;
				margin-bottom: 4px;
			}
}

.activeSection {
	margin-top:10px;
}

.pushInfo {
	padding-right:0;

	.commitIcon {
		display:inline-block;
		height:30px;
	}
}

.details {
	margin-left:-24px;
	padding-left:0;

	.time {
		font-size: 12px;
		color:$accent-font;
		font-weight: bold;
	}
	.action {
		font-weight: bold;

		a:hover {
			color:$font-blue;
		}	
	}
}

.smallImg {
	height:35px;
	border-radius:2px;
	margin-left: 2px;
}

ul.commitName{
	display:inline-block;
	padding-left:0;

	li {
		display:inline-block;
		padding-right:5px;
		font-size:11px;
		vertical-align: top;

		img.octoKitty {
			margin-top: -2px;
		}
	}

}

hr.pushLine {
	margin-left:-51px;
	width:713px;
}

